.news1{
  background-image: url("../../assets/img1.jpg");
}
.news2{
  background-image: url("../../assets/img1.jpg");
}
.news3{
  background-image: url("../../assets/img1.jpg");
}
/* 
.section-contact-newroom{
  height: 500px;
} */