.section-blog {
  height: 70vh;

}

.li1 {
  background-image: url("https://cdn1.itpro.co.uk/sites/itpro/files/styles/article_main_wide_image/public/2018/02/shutterstock_561931702.jpg?itok=LXPgi7DO");
  background-size: cover;
  background-repeat: no-repeat
}

.ifo-overflow {
  background-image: black;
}