.ifo-banner-bg {
  background: url("../../assets/Group/Home//oUTpUT/Home.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -130px;
  background-attachment: fixed
}

.ifo-mobile-banner-bg {
  height: 100vh;
  background: url("../../assets/Group/Home//oUTpUT/Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40px;
  margin-top: -60px;
  /* overflow-x: hidden !important;
  max-width: 100%; */
}

.uk-overlay-primary {
  background: rgba(34, 34, 34, 0.2) !important;
}